<div layout="row" >

    <div flex="20">
        <md-card>
            <md-card-content  >
                <div layout = "row" layout-align="space-between start" layout-wrap>

                        <!-- <h4>Select Site:</h4> -->
                        <md-input-container flex="100">
                            <label>select Site:</label>
                                <md-select ng-model="$ctrl.site">
                                    <md-option ng-repeat="site in $ctrl.sites" value="{{site}}">
                                        {{site}}
                                    </md-option>
                                </md-select>
                        </md-input-container>
                </div>
                

            </md-card-content>
        </md-card>
    </div>
        

    <div flex="80" flex-offset="60">

        <div layout="row">
            <a class="md-raised md-primary md-button md-mangoDark-theme md-ink-ripple" href="/ui/SolarSystem/SitesOverview">Overview</a>
            <a class="md-raised md-primary md-button md-mangoDark-theme md-ink-ripple" href="/ui/SolarSystem/SiteDetails">Historical Data</a>
        </div>

    </div>

    
</div>

<div>
    <ma-svg ng-include="'/modules/mangoUI/web/img/svg/intento-2.svg'"></ma-svg>
</div>