<div layout="row">
    <div flex="20">
        <md-card flex >
            <md-card-content>
                <h4>Select Site:</h4>
                <md-input-container>
                    <label>site-1</label>
                    <!-- <md-select>
                        <md-option>

                        </md-option>
                    </md-select> -->
                </md-input-container>

            </md-card-content>
        </md-card>
    </div>

    <div flex="80" flex-offset="60">

        <div layout="row">
            <a class="md-raised md-primary md-button md-mangoDark-theme md-ink-ripple">Overview</a>
            <a class="md-raised md-primary md-button md-mangoDark-theme md-ink-ripple">Historical Data</a>
        </div>

    </div>

    
</div>

<div>
    <ma-svg ng-include="'/modules/mangoUI/web/img/svg/intento-2.svg'"></ma-svg>
</div>