<div layout="row" layour-wrap>
    <div flex="50">
        <md-card>
            <md-card-content>
                <ma-map zoom="11" map-type="roadmap" flex="100" desktop-height="400px" mobile-height="250px">
                    <marker centered="true" position="-12.95, -38.45"></marker>
                    <marker position="-12.99, -38.49"></marker>
                </ma-map>
            </md-card-content>
        </md-card>
    </div>

    <div flex="50" layout="column" >
        <md-card>
            <md-card-content>
                <div layout="row" layout-align="space-between center">
                    <div flex=""><h6 class="text-center">Sites</h6></div>
                    <div flex=""><h6>Costumer Status</h6></div>
                    <div flex="row" class="text-center"><h6 >PV Status</h6></div>
                    <div flex=""><h6>Battery Status</h6></div>
                    <div flex=""><h6>Details</h6></div>
                </div>
                    

                    <md-divider></md-divider>

                <ma-get-point-value point = "$ctrl.status.solarPanel.status">   
                </ma-get-point-value>

                <ma-get-point-value point = "$ctrl.status.battery.status"></ma-get-point-value>

                <ma-get-point-value point = "$ctrl.status.costumer.status"></ma-get-point-value>

                                                    
                <div layout = "row">

                    <div flex = "20">
                        <div class="ma-led" ng-class="{'ma-throb-opacity': throb}" ng-style="{'background-color': $ctrl.status.solarPanel.status.value ? 'green' : 'red'}"></div>
                    </div>

                    <div flex = "20">
                        <div class="ma-led" ng-class="{'ma-throb-opacity': throb}" ng-style="{'background-color': $ctrl.status.costumer.status.value ? 'green' : 'red'}"></div>
                    </div>

                    <div flex = "20">
                        <div class="ma-led" ng-class="{'ma-throb-opacity': throb}" ng-style="{'background-color': $ctrl.status.battery.status.value ? 'green' : 'red'}"></div>
                    </div>

                    <div flex = "5" layout = "column" >

                            <a flex = "70" href="/ui/SolarSystem/FlowChart">
                                 <ma-svg ng-include="'/modules/mangoUI/web/img/svg/flow-chart.svg'"></ma-svg>
                            </a>

                            <a flex = "" href="/ui/SolarSystem/SiteDetails">
                                    <ma-svg ng-include="'/modules/mangoUI/web/img/svg/graphcs.svg'"></ma-svg>
                            </a>
                    </div>
                    

            </md-card-content>
        </md-card>
    </div>
</div>