<div layout="row" layour-wrap>
    <div flex="50">
        <md-card>
            <md-card-content>
                <ma-map zoom="11" map-type="roadmap" flex="100" desktop-height="400px" mobile-height="250px">
                    <marker centered="true" position="-12.95, -38.45"></marker>
                    <marker position="-12.99, -38.49"></marker>
                </ma-map>
            </md-card-content>
        </md-card>
    </div>

    <div flex="50" layout="column" >
        <md-card>
            <md-card-content>
                    
                <md-table-container flex>
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column>Sites</th>
                                    <th md-column>Costumer Status</th>
                                    <th md-column>PV Status</th>
                                    <th md-column>Battery Status</th>
                                    <th md-column>Details</th>
                                </tr>
                            </thead>
                    
                            <tbody >
                                <tr ng-repeat = "(sites, sitio) in $ctrl.sitios">
                                    
                                    <td md-cell>
                                        <div flex ="30">
                                             {{sites}}
                                        </div>
                                    </td>
                                    <td md-cell>

                                            <ma-get-point-value point = "sitio.battery">   
                                                </ma-get-point-value>

                                        <div>
                                            <!-- <div class="ma-led" ng-class="{'ma-throb-opacity': throb}" ng-style="{'background-color': sitio.battery.value ? 'green' : 'red'}"></div> -->
                                            <md-icon md-svg-src ="/rest/v2/file-stores/public/mango-files/svg/warning.svg" ng-if="!sitio.battery.value"></md-icon>

                                            <md-icon md-svg-src ="/rest/v2/file-stores/public/mango-files/svg/checked.svg" ng-if="sitio.battery.value"></md-icon>
                                            

                                        </div>

                                    </td>
                    
                                    <td md-cell>

                                            <ma-get-point-value point = "sitio.costumer"></ma-get-point-value>

                                        <div>
                                            <!-- <div class="ma-led" ng-class="{'ma-throb-opacity': throb}" ng-style="{'background-color': sitio.costumer.value ? 'green' : 'red'}"></div> -->
                                            <md-icon md-svg-src ="/rest/v2/file-stores/public/mango-files/svg/warning.svg" ng-if="!sitio.costumer.value"></md-icon>

                                            <md-icon md-svg-src ="/rest/v2/file-stores/public/mango-files/svg/checked.svg" ng-if="sitio.costumer.value"></md-icon>
                                        </div>
                                    </td>
                    
                                    <td md-cell>

                                            <ma-get-point-value point = "sitio.solarPanel"></ma-get-point-value>

                                        <div>
                                            <!-- <div class="ma-led" ng-class="{'ma-throb-opacity': throb}" ng-style="{'background-color': sitio.solarPanel.value ? 'green' : 'red'}"></div> -->

                                            <md-icon md-svg-src ="/rest/v2/file-stores/public/mango-files/svg/warning.svg" ng-if="!sitio.solarPanel.value"></md-icon>

                                            <md-icon md-svg-src ="/rest/v2/file-stores/public/mango-files/svg/checked.svg" ng-if="sitio.solarPanel.value"></md-icon>
                                        </div>
                                    </td>
                    
                                    <td md-cell>
                                        <div layout = "column">

                                                <a href="/ui/SolarSystem/FlowChart">
                                                    <md-icon md-svg-src="/rest/v2/file-stores/public/mango-files/svg/flow-chart.svg"></md-icon>
                                                </a>

                                                <a href="/ui/SolarSystem/SiteDetails">
                                                    <md-icon md-svg-src="/rest/v2/file-stores/public/mango-files/svg/graphcs.svg"></md-icon>
                                                </a>


                                        </div>
                                    </td>
                                </tr>
                    
                            </tbody>
                        </table>
                    </md-table-container>
            </md-card-content>
        </md-card>
    </div>
</div>

